body {
    font-family: 'Roboto Slab', serif;    
    margin: 0;
}

.total {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #bbdefb;
    color: #263248;
}

.content {
    width: 600px;
}

.header {
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 0px;
    margin-top: 0.5em;
}
.header a {
    text-decoration: none;
    color: #263248;
}
.subheader {
    text-align: center;
    font-size: 0.84em;
    margin-top: -4px;
}
.header-hr {
    border-top: 1px solid #263248;
}

.chapter-heading {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.centeralign {
    text-align: center;
}

.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.center {
    justify-content: center;
}
.footer-option {
    text-decoration: none;
    color: #263248;
    font-weight: bold;
    padding: 20px;
    width: 200px;
    text-align: center;
    background-color: #00000013;
}
.footernote {
    text-align: center;
    font-size: 0.8em;
}
