body {
    font-family: 'Roboto Slab', serif;    
    overflow-y: scroll;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #bbdefb;
    color: #263248;
}

h3 {
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: -0.8em;
}

.total {
    min-height: 100vh;
}

.content {
    max-width: 600px;
    padding-left: 1em;
    padding-right: 1em;
}

.header {
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 0px;
    margin-top: 0.5em;
}
.header a {
    text-decoration: none;
    color: #263248;
}
.subheader {
    text-align: center;
    font-size: 0.84em;
    margin-top: -4px;
}
.header-hr {
    border: 1px solid #26324877;
    margin: 0;
}

hr {
    border: 1px solid #26324833;
    margin-left: 4em;
    margin-right: 4em;
}

.chapter-heading {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.centeralign {
    text-align: center;
}

.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.center {
    justify-content: center;
}
.footer-option {
    text-decoration: none;
    color: #263248;
    font-weight: bold;
    padding: 20px;
    width: 120px;
    text-align: center;
    background-color: #00000013;
}
.footernote {
    text-align: center;
    font-size: 0.8em;
    margin-top: 2em;
}

.disclaimer {
    font-size: 0.7em;
}
